<!doctype html>

<!--[if (lte IE 8)]> <html class="ie" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<head>
	<meta charset=utf-8>
	<meta name='description' content='Tim G. Thomas is a Central Texas-based Web developer, graphic designer, and community leader.' />
	<meta name='keywords' content='tim thomas, tim g thomas, html, css, javascript, xna, xbox, windows phone 7' />
	<title>Tim G. Thomas</title>

	<link rel=stylesheet href='http://fonts.googleapis.com/css?family=Philosopher'>
	<link rel=stylesheet href='@Url.Content("~/Content/css/reset.min.css")'>
	<link rel=stylesheet href='@Url.Content("~/Content/css/style.min.css")'>
	<link rel=stylesheet href='@Url.Content("~/Content/css/prettify.min.css")'>

	<script src='@Url.Content("~/Content/js/html5.min.js")'></script>
</head>

<body>
	<header>
		<div class=container>
			<h1><a href='@Href("~/")'>Tim G. Thomas</a></h1>
			<nav>
				<ol>
					<li><a href='@Href("~/")'>Blog</a></li>
					<li><a href=http://www.timgthomas.com>Portfolio</a></li>
				</ol>
			</nav>
		</div>
	</header>
	<div class='container clearfix'>
		<aside>
			<div class=photo>A photo of me, Tim G. Thomas</div>
			<p>I'm a Central Texas&ndash;based Web developer, graphic designer, and community leader.</p>
			<h1>Find me on...</h1>
			<ul id=find-me-on>
				<li><a class=rss href='@Href("~/rss")' target=_blank title='RSS Feed'></a></li>
				<li><a class=twitter href=https://www.twitter.com/timgthomas target=_blank title=Twitter></a></li>
				<li><a class=linkedin href=http://www.linkedin.com/in/tgthomas target=_blank title=LinkedIn></a></li>
				<li><a class=github href=https://github.com/TimGThomas target=_blank title=GitHub></a></li>
				<li><a class=forrst href=http://forrst.com/people/TimGThomas target=_blank title=Forrst></a></li>
			</ul>
			<p>This blog is <a href=https://github.com/TimGThomas/blog target=_blank>open-source</a>!</p>
		</aside>
		<section id=content>@RenderBody()</section>
	</div>
	<footer class=container>
		<p>&copy; Tim G. Thomas</p>
	</footer>
	<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js></script>
	<script src='@Url.Content("~/Content/js/prettify.min.js")'></script>
	<script>
		(function($) {
			$('pre').addClass('prettyprint');
			prettyPrint();
		})(jQuery);
	</script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-6362570-2']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

</script>
</body>

</html>