<!doctype html>

<html>

<head>
	<meta charset=utf-8>
	<title>Tim G. Thomas</title>

	<link rel=stylesheet href='http://fonts.googleapis.com/css?family=Philosopher'>
	<link rel=stylesheet href='@Url.Content("~/Content/css/style.min.css")'>
	<link rel=stylesheet href='@Url.Content("~/Content/css/prettify.css")'>
</head>

<body>
	<header>
		<div class=container>
			<h1><a href='@Href("~/")'>Tim G. Thomas</a></h1>
			<nav>
				<ol>
					<li><a href='@Href("~/")'>Blog</a></li>
					<li><a href=http://www.timgthomas.com>Portfolio</a></li>
				</ol>
			</nav>
		</div>
	</header>
	<div class='container clearfix'>
		<aside>
			<p>I'm a Central Texas&ndash;based Web developer, graphic designer, and community leader.</p>
			<h1>Find me on</h1>
			<ul id=find-me-on>
				<li><a class=twitter href=https://www.twitter.com/timgthomas target=_blank title=Twitter></a></li>
				<li><a class=linkedin href=http://www.linkedin.com/in/tgthomas target=_blank title=LinkedIn></a></li>
				<li><a class=github href=https://github.com/TimGThomas target=_blank title=GitHub></a></li>
				<li><a class=forrst href=http://forrst.com/people/TimGThomas target=_blank title=Forrst></a></li>
			</ul>
		</aside>
		<section id=content>@RenderBody()</section>
	</div>
	<footer class=container>
		<p>&copy; Tim G. Thomas | This blog is <a href=https://github.com/TimGThomas/blog target=_blank>open-source</a>!</p>
	</footer>
	<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js></script>
	<script src='@Url.Content("~/Content/js/prettify.js")'></script>
	<script>
		(function($) {
			$('pre').addClass('prettyprint');
			prettyPrint();
		})(jQuery);
	</script>
</body>

</html>